<h1>Cart {{cart._id}}</h1>

Listado de productos
{{#if cart.length}}
{{#each cart}}
<ul>
    <li>Product: {{this.title}}</li>
    <li>Description: {{this.description}}</li>
    <li>Price : {{this.price}}</li>
    <li>Quantity: {{this.quantity}}</li>
    <li>Category : {{this.category}}</li>
    <li>Product Id: {{this.id}}</li>
</ul>

<button onclick="deleteProductFromCart('{{this.id}}')">Delete Product from Cart</button>
{{/each}}
<a href="/products">Go to Products</a>

<button onclick="clearCart()">Clear cart</button>
<button onclick="createTicket()" href="/{{cart._id}}/purchase">Wrap up Cart</a>

{{else}}
<h2>El carrito no tiene productos</h2>
<a href="/products">Go to Products</a>
{{/if}}