<h1>Bienvenido al CHAT {{chat.user}}</h1>
<h2>Usted se encuentra autenticado con el correo {{chat.email}}</h2>
{{#if chat.email}}<a href="/api/sessions/logout">Cerrar sesión</a>{{else}}<a href="/api/sessions">Iniciar sesión</a>{{/if}}

<div id="chat">
{{#if isAdmin}} {{else}}<input id="chat-box" name="chatbox" type="text" value=""/>{{/if}}
  {{#each chat.messages}}
    <ul id="{{_id}}" style='margin-bottom:30px;'>
      <div id="{{User}}">User: {{user}}</div>
      <div id="msg">Message: {{msg}}</div>
      <div>ID: {{_id}}</div>
    </ul>
  {{/each}}

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="js/chat.js"></script>
