<h1>Bienvenido al CHAT</h1>
<div id="chat">
<input id="chat-box" name="chatbox" type="text" value="" />
  {{#each messages}}
    <ul id="{{_id}}" style='margin-bottom:30px;'>
      <div id="{{User}}">User: {{user}}</div>
      <div id="msg">Message: {{msg}}</div>
      <div>ID: {{_id}}</div>
    </ul>
  {{/each}}

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="js/chat.js"></script>
